---
layout: archive
---

<p>
Seeking a position as a technical data scientist/machine learning engineer.<br />
<br />
Recently graduated from University of Sydney as a graduate in Information Technology - software engineering.<br />
<br />
In my portfolio, you will find my specialities which include the list below:<br />
<br />
1. Python Programming<br />
2. Visualization<br />
3. Data Analytics<br />
4. SQL<br />
5. Probability and Statistics<br />
6. Machine Learning<br />
7. Deep Learning<br />
8. Cloud Computing<br />
9. Data Structures and Algorithms<br />
10. Dynamic Programming<br />
<br />
Click <a href="https://tylercx62.github.io/data-science/">here</a> for more details on my projects history.<br />
</p>

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
